<!-- La vue d'un gossip -->

<!-- Titre de la vue d'un gossip avec le numéro du gossip -->
<h1>Gossip <%= params[:id] %></h1>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Title : 
    <%= @gossip.title %></h3>
    <h5 class="card-title">Content:</h5>
    <p class="card-text"><%= @gossip.content %></p>
    <h5 class="card-title">Date:</h5>
    <p class="card-text"><%= @gossip.created_at %></p>
  </div>
</div>
